body {
  background: #fbf2d5;
  text-align: center;
}
h1 {
  font-size: 28px;
}
h2 {
  font-size: 16px;
  font-weight: lighter;
}
a {
  color: #628579;
  margin: 0 10px;
}
.croissant-photo {
  width: 500px;
}
